@import '../../assets/styles/index.css';

.card {
  background-color: #F9F7F3;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px #0000003d;
  transition: transform 0.2s ease;
  flex: 1 1 300px;
  text-align: center;
  margin-bottom: 20px;
  margin: 10px;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 4px #7004703d;
}

.card h3 {
  font-size: 1.5em;
  margin-bottom: 1rem;
  color: var(--text-dark);
}

.card p {
  font-size: 1em;
  color: var(--text-dark);
  line-height: 1.5;
}